<!doctype html>
<html>
<head>
    <title>Yodel.js</title>
    <link href="scripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="scripts/bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body ng-app="yodel">
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Yodel.js</a>
        </div>
    </div>
</nav>
<div class="container">
    <div ui-view></div>
</div>
<script src="scripts/bower_components/socket.io-client/socket.io.js"></script>
<script src="scripts/bower_components/angular/angular.min.js"></script>
<script src="scripts/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="scripts/bower_components/angular-socket-io/socket.min.js"></script>
<script src="scripts/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="scripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="scripts/bower_components/angular-data/dist/angular-data.js"></script>

<script src="scripts/_app.js"></script>
<script src="scripts/_config.js"></script>
<script src="scripts/dashboard/_app.js"></script>
<script src="scripts/dashboard/controllers/dashboard.js"></script>
<script src="scripts/sessions/_app.js"></script>
<script src="scripts/sessions/models/session.js"></script>
<script src="scripts/sessions/controllers/session-info.js"></script>
<script src="scripts/sessions/directives/new-session.js"></script>
<script src="scripts/clients/_app.js"></script>
<script src="scripts/clients/controllers/client-info.js"></script>
<script src="scripts/clients/models/client.js"></script>
<script src="scripts/messages/_app.js"></script>
<script src="scripts/messages/models/message.js"></script>
<script src="scripts/sockets/_app.js"></script>
<script src="scripts/sockets/services/web-socket-factory.js"></script>
</body>
</html>