.logo-icon {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin: 0 10px 0 0;
    vertical-align: text-top;
    background-size: contain;
    background-repeat: no-repeat;
}

.new-session .logo-icon {
    opacity: 0.5;
}

.new-session .logo-icon.enabled {
    opacity: 1;
}

.logo-icon.angular {
    background-image: url('../images/angular-icon.png');
}

.logo-icon.backbone {
    background-image: url('../images/backbone-icon.png');
}

.link {
    cursor: pointer;
}