<p>
    <button class="btn btn-success" ng-click="createSession()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        New Session
    </button>
</p>
<div class="panel panel-default" ng-repeat="session in sessions">
    <div class="panel-heading">
        <h1 class="panel-title">
            <a ui-sref="session-info({ id: session.id })">
                <span class="logo-icon"
                      ng-class="{ angular: session.bridgeType === 0, backbone: session.bridgeType === 1 }"></span>{{session.name}}
                <span class="glyphicon glyphicon-circle-arrow-right pull-right"></span>
            </a>
        </h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <b>Script Tag: </b>
                <code>&lt;script src="{{'http://' + session.serverIp + ':' + session.port + '/sessions/' +
                    session.id +
                    '.js'}}"&gt;&lt;/script&gt;</code>
            </div>

            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-info-sign"></span> Information</h3>
                <hr/>
                <ul class="list-group">
                    <li class="list-group-item">
                        Session ID: {{session.id}}
                    </li>
                    <li class="list-group-item">
                        Created: {{session.created}}
                    </li>
                    <li class="list-group-item">
                        Last Active: {{session.lastActive}}
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3><span class="glyphicon glyphicon-phone"></span> Clients</h3>
                <hr/>
                <ul class="list-group" ng-if="session.clients.length > 0">
                    <a ui-sref="client-info({ sessionId: session.id, clientId: client.id })"
                       class="list-group-item"
                       ng-repeat="client in session.clients">
                        {{client.userAgent.description}} ({{client.address}})
                        <span class="badge alert-success">{{client.messages.length}} message(s)</span>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</div>