<p>
    <button class="btn btn-success" ng-click="createSession()">
        <span class="glyphicon glyphicon-plus-sign"></span>
        New Session
    </button>
</p>
<div class="panel panel-default" ng-repeat="session in sessions">
    <div class="panel-heading">
        <h1 class="panel-title">
            <a ui-sref="session-info({ id: session.id })">{{session.id}} <span
                    class="glyphicon glyphicon-circle-arrow-right pull-right"></span></a>
        </h1>
    </div>
    <div class="panel-body">
        Created on {{session.created}}
        <p>
            <code>&lt;script src="{{'http://' + session.serverIp + ':' + session.port + '/sessions/' + session.id +
                '.js'}}"&gt;&lt;/script&gt;</code>
        </p>
        <span ng-if="session.clients.length === 0">No Active Clients...</span>
        <ul class="list-group" ng-if="session.clients.length > 0">
            <li class="list-group-item" ng-repeat="client in session.clients">
                {{client.userAgent.description}} ({{client.address}}) has {{client.messages.length}} message(s)
            </li>
        </ul>
    </div>
</div>