<h2>Active Sessions</h2>
<button class="btn btn-default" ng-click="createSession()">Create</button>
<ul class="list-group">
    <li class="list-group-item" ng-repeat="session in sessions">
        <p>
            <h3>{{session.id}} <span ng-if="session.isConnected" class="label label-success">Connected</span><span ng-if="!session.isConnected" class="label label-danger">Disconnected</span></h3>
            <h4>http://{{session.serverIp}}:{{session.port}}/sessions/{{session.id}}.js</h4>
        </p>
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="client in session.clients">
                {{client.userAgent.description}} ({{client.address}}) has {{client.messages.length}} message(s)
            </li>
        </ul>
    </li>
</ul>