<p>
    <button class="btn btn-success" ui-sref="dashboard">
        <span class="glyphicon glyphicon-arrow-left"></span>
        Back
    </button>
</p>
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            {{session.id}}
        </h1>
    </div>
    <div class="panel-body">
        Created on {{session.created}}
        <p>
            <code>&lt;script src="{{'http://' + session.serverIp + ':' + session.port + '/sessions/' + session.id +
                '.js'}}"&gt;&lt;/script&gt;</code>
        </p>
    </div>
</div>
<div class="row">
    <div ng-class="'col-md-' + 12 / session.clients.length " ng-repeat="client in session.clients">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">
                    {{client.userAgent.description}}
                    <span class="glyphicon glyphicon-pushpin pull-right"></span>
                </h1>
            </div>
            <div class="panel-body">
                <div ng-repeat="message in client.messages">
                    <b>{{message.level}}</b> - {{message.data[0]}} ({{message.timestamp}})
                </div>
            </div>
        </div>
    </div>
</div>